
body{margin-right:3px;
	margin-left:3px;
	padding:0px;
    text-align:center}

#container{width:400px;
	background:white;
	margin:0px auto;
	text-align:left;
	font-family:arial;}

#sidebar{float:left;
		width:455px;
		height:800px;
		margin-left:3px auto;
		background:fuchsia;
		padding:3px;
		text-align:left
		}
		
#rightbar{float:right;
		width:455px;
		height:800px;
		margin-right:3px auto;
		background:green;
		}
		
#mainworkspace{
	width:800;
	height:590;
	background:red;	
	}
		
		






