
body{margin-right:3px;
	margin-left:3px;
	padding:0px;
	background-color:black;
	}

#container{width:400px;
	background-color:#cd7fd0;
	margin:0px auto;
	text-align:left;
	font-family:arial;
	
	}

#sidebar{float:left;
		width:455px;
		height:800px;
		margin-left:3px auto;
		background:brown;
		padding:3px;
		text-align:left
		}
		
#rightbar{float:right;
		width:455px;
		height:800px;
		padding:3px;
		background:green;
		}
		
#mainworkspace{
	width:800;
	height:590;
	background:red;	
	

	}

#overall{
			background-color:silver;
			height:800px;
			position:relative;
			z-index:1;
			}	
		


div.wrapper{
	height:811px;
	margin-right:auto;
	margin-left:auto;
	border:2px white;
}


.leftimage{float:left;
			padding:3px;
			width:456px;
			height:150px;
			}



